.App {
  text-align: center;
}

.logo {
  margin-top: 30px;
  height: 10px;
  scale: 0.03;
}

.logo path {
  fill: rgb(60 60 67 / 20%);
}

.App-header {
  background-color: #F2F2F7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: black;
}

h1 {
  font-size: 3em;
  margin: 0;
}

.info {
  display: flex;
  column-gap: 5px;
  color: rgb(60 60 67 / 40%);
  font-size: calc(10px + 1vmin);
}

.App-link {
  color: rgb(60 60 67 / 40%);
  text-decoration: underline;
}
